html, body {height:100%;}

body {background:rgb(152, 208, 235);}
body,
header,
li,
p,
form {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

img {
    max-width:200px;
}
.header {
    background: #0433ff;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.menu {
    display: flex;
}

.menu li {
    padding: 10px;
}

.pesquisa {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.pesquisa input {
    width: 100%;
}

.flexbox {
    display: flex;
    width: 100%;
}

.section {
    float: right;
    width: 80%;
    margin-left:5%;
    padding-left:10%;
    height:100%;
    border-left: 3px solid #0433ff;
    border-bottom-left-radius: 2em;
    border-bottom: 3px solid #0433ff;
    background: white;
}

.aside {
    width: 20%;
    float:left;
    border-bottom-right-radius:2em;
    border-right: 3px solid #0433ff;
    border-bottom:3px solid #0433ff;
    background: white;
}


.asideoptions {
    margin: 5%;
    height: 50%;
    background: white;
}

.asideoptions a {
    display: block;
    text-align: center;
}

.footer {
    position: fixed;
    background: #0433ff;
    color: white;
    bottom:0;
    padding:0.5%;
    opacity:0.9;
}

aside button:hover {
    color: cyan;
}



.input-wrapper input[type=text] {
    box-sizing: border-box;
    padding:2% 1% 2% 1%;
    /* transition: width 0.4s ease-in-out; */
    border:none;
    outline:none;
    background:white;
    width:80%;
}

.input-wrapper button {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}

.fa-search, .fa-times {
    color:black;
}
/* .input-wrapper input[type=text]:focus {
    width: 100%;
} */

.input-wrapper {
    display:flex;
    align-items:center;
    justify-content: space-between;
    background-color:white;
    padding: 0 1% 0 1%;
    border-radius:1em;
    width:30%;
}

.semideia {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-right:2%;
}

.semideia img {
    width:200px;
    height:200px;
}

figcaption {
    display: block;
}

.geral {
    padding-bottom:5%;
    height:100%;
}

.principal {
    padding-bottom:2%;
}

/* section h3 {
    border-left: 1px solid rgb(20, 20, 20, 0.3);
} */

input[type=submit]{
    width:100%;
    height:auto;
    background-color: white; 
  color: black; 
  border: 2px solid #0433ff;
  border-radius:2em;

}

input[type=submit]:hover {
    background-color: #0433ff;
    color: white;
}

textarea {
    border:2px solid #0433ff;
}


.sidenav2 {
    margin-top:40%;
}