@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
    margin:0;
    padding:0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

.header {
    background: #0433ff;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.menu {
    display: flex;
}

.menu li {
    padding: 10px;
    display: block;
}

p {
    text-align:justify;
    width:50%;
    margin:auto;
    padding-top:10%;
    font-size:1.5vw;
}

section {
    height:100%;
}